LM/TemaXML/Ejercicios/Ejercicio1/ordenadores1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- comment -->
    <xs:element name="ordenadores">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ordenador" maxOccurs="unbounded"></xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ordenador">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="tipo" type="xs:string" />

            </xs:sequence>
        </xs:complexType>


    </xs:element>


</xs:schema>